<!-- <div class="container">
  <button style="background-color: green;color: white;width: 8rem;height: 2rem;font-size: 15px" (click)="onShowTemplate()" *ngIf="!showTemplate">
    Template</button>
  <div *ngIf="showTemplate">
    <div class="header" style="border: 1px solid rgb(73, 69, 69)">
      Canvas Application
    </div>
    <div class="content" style="border: 1px solid rgb(73, 69, 69)">
      <div style="width: 200px; height: 500px; padding: 5px;border: 1px solid rgb(73, 69, 69)">
        <button (click)="fileInput.click()" class="custom-file-upload">
          Browse Image
        </button>
        <input
          type="file"
          #fileInput
          (change)="onFileSelected($event)"
          style="display: none"
        />
        <div class="image-list">
          <h3 style="font-size: 20px">Layers</h3>
          <ul style="list-style: none; padding: 0px" id="image-list"></ul>
        </div>
      </div>
      <div>
        <canvas #canvas width="900" height="500px"></canvas>
      </div>
    </div>
  </div>
</div> -->

<!-- Start Button -->
<!-- <div style="width: 100%; height: 500px; border: 1px solid black">
  <div style="width: 100%; height: 50px; border: 1px solid black">
    <h3>ample Logic</h3>
  </div>

  <div>
    <button (click)="startMigration()">Start</button>
  </div>

  <div style="width: 100%; height: 20px; border: 1px solid black">
    <h6>ample Logic</h6>
  </div>
</div> -->
<div class="container">
  <!-- Header Section -->
  <div class="header" style="display: flex; justify-content: space-between">
    <div>
      <h3>Ample Logic</h3>
    </div>
    <div style="padding: 10px">
      <!-- <div > -->
      <button class="toggle-button">
        <i class="bi bi-caret-up-fill"></i>
      </button>
      <label for="">Organization Structure</label>
      <i class="bi bi-chevron-compact-down"></i>
      <!-- </div> -->

      <!-- <div > -->
      <button class="toggle-button">
        <i class="bi bi bi-bounding-box"></i>
      </button>
      <label for="">Configurations</label>
      <i class="bi bi-chevron-compact-down"></i>
      <!-- </div> -->

      <!-- <div > -->
      <button class="toggle-button">
        <i class="bi bi-stickies-fill"></i>
      </button>
      <label for="">Labels</label>
      <i class="bi bi-chevron-compact-down"></i>
      <!-- </div> -->
      <!-- <div > -->
      <button class="toggle-button">
        <i class="bi bi-three-dots-vertical"></i>
      </button>
      <label for="">ETL</label>
      <i class="bi bi-chevron-compact-down"></i>
      <!-- </div> -->
    </div>
    <div style="text-align: right;padding: 10px;">
      <!-- <img
        src="../assets/Screenshot (17).png"
        alt="Description of the image"
        style="
          max-width: 20px; /* Maintain aspect ratio */
          border-radius: 8px;
          padding-right: 10px;
          padding-top: 10px;
        "
      /> -->
      <button class="toggle-button">
        <i
          class="bi bi-browser-edge"
          style="
            padding-right: 10px;
            justify-items: center;
            align-items: center;
          "
        ></i>
      </button>

      <button class="toggle-button">
        <i
          class="bi bi-cart-check-fill"
          style="
            padding-right: 10px;
            justify-items: center;
            align-items: center;
          "
        ></i>
      </button>
      <button class="toggle-button">
        <i class="bi bi-emoji-smile"></i>
      </button>
    </div>
  </div>

  <!-- Main Content Section -->
  <div class="main-content" *ngIf="!showOffcanvas && !showAlert && !upbutton">
    <button (click)="startMigration()">Start</button>
  </div>

  <div class="footer" *ngIf="!showOffcanvas">
    <div style="display: flex; justify-content: space-between">
      <div>
        <h6>ample Logic</h6>
      </div>
      <div>
        <label for="" style="text-align: center">All Rights</label>
      </div>
      <div style="text-align: right">
        <label for="" style="text-align: end">V.3.1.0</label>

        <button
          class="toggle-button"
          *ngIf="upbutton"
          style="justify-content: flex-end"
        >
          <i class="bi bi-caret-up-fill"></i>
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="showOffcanvas" class="offcanvas">
    <!-- Right-Aligned Toggle Button -->
    <div style="position: absolute; right: 10px; top: -21px">
      <button (click)="toggleOffcanvas()" class="toggle-button">
        <!-- {{ toggleButtonText }}bi-caret-down-fill -->
        <i class="bi bi-caret-down-fill"></i>
      </button>
    </div>

    <!-- Offcanvas Content -->
    <div
      class="content"
      style="
        display: flex;
        align-items: center;
        padding: 20px 10px;
        border: 1px solid black;
      "
    >
      <!-- Icon -->
      <button style="background-color: blue; width: 50px; padding: 2px">
        <i class="bi bi-caret-up-fill" style="color: white"></i>
      </button>
      <div style="width: 100%">
        <!-- Text and Percentage Display -->
        <div style="display: flex; justify-content: space-between">
          <div>
            <label for="">Migration data to select environmental</label>
          </div>
          <div>
            <span class="progress-text"> {{ progress }}% </span>
          </div>
        </div>

        <!-- Progress Bar -->
        <div
          class="progress-bar"
          [style.width.%]="progress"
          style="height: 10px; background-color: green"
        ></div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="showAlert" class="alert">Migration process completed!</div>
